<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/" class=""> Index </a>
      </li>
      <li class="main-header__item">
        <a href="/users" class=""> Users </a>
      </li>
    </ul>
  </nav>
</header>
